In [37]:
import sqlalchemy
import sys
sys.path.append('..')
import model
from sqlalchemy import func, and_, or_
import sys

engine=sqlalchemy.create_engine('postgresql://ebooks:ebooks@localhost/ebooks', echo=True )
Session = sqlalchemy.orm.sessionmaker(bind=engine)
session=Session()

In [38]:
session.query(model.Ebook).filter(func.unaccent(model.Ebook.title).ilike('ca%')).limit(5).all()

2016-04-21 12:28:08,720 INFO sqlalchemy.engine.base.Engine select version()
2016-04-21 12:28:08,721 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 12:28:08,722 INFO sqlalchemy.engine.base.Engine select current_schema()
2016-04-21 12:28:08,723 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 12:28:08,724 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2016-04-21 12:28:08,725 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 12:28:08,727 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2016-04-21 12:28:08,727 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 12:28:08,729 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2016-04-21 12:28:08,730 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 12:28:08,732 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:28:08,735 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook
WHERE unaccent(ebook.title) ILIKE %(unaccent_1)s
 LIMIT %(param_1)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON anon_1.ebook_id = ebook_authors_1.ebook_id ORDER BY author_1.id
2016-04-21 12:28:08,736 INFO sqlalchemy.engine.base.Engine {'unaccent_1': 'ca%', 'param_1': 5}

[<Ebook id=33232 title="Časoprostorová jáma">,
 <Ebook id=33586 title="Capek,Karel Josef-Juvenilie">,
 <Ebook id=33587 title="Capek,Karel Josef-Zarive hlubiny a jine prozy">,
 <Ebook id=33690 title="Čas přílivu">,
 <Ebook id=51451 title="Canada">]

In [39]:
session.query(model.Ebook).filter(model.Ebook.authors.any(func.unaccent(model.Author.last_name).ilike('ca%'))).limit(5).all()

2016-04-21 12:28:08,919 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook
WHERE EXISTS (SELECT 1
FROM ebook_authors, author
WHERE ebook.id = ebook_authors.ebook_id AND author.id = ebook_authors.author_id AND unaccent(author.last_name) ILIKE %(unaccent_1)s)
 LIMIT %(param_1)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON anon_1.ebook_id = ebook_authors_1.ebook_id ORDER BY author_1.id
2016-04-21 12:28:08,921 INFO sqlalchemy.engine.base.Engine {'unaccent_1': 'ca%', 'param_1': 5}

[<Ebook id=33552 title="Tricetileta valka">,
 <Ebook id=33557 title="Kyborgove do boje!">,
 <Ebook id=33554 title="Zona smrti s - XXX">,
 <Ebook id=33562 title="Sebevražda">,
 <Ebook id=33560 title="Věc">]

In [40]:
r=session.query(model.Ebook).filter(model.Ebook.series.has(func.unaccent(model.Series.title).ilike('ca%'))).limit(5).all()

2016-04-21 12:28:09,102 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook
WHERE EXISTS (SELECT 1
FROM series
WHERE series.id = ebook.series_id AND unaccent(series.title) ILIKE %(unaccent_1)s)
 LIMIT %(param_1)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON anon_1.ebook_id = ebook_authors_1.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,103 INFO sqlalchemy.engine.base.Engine {'unaccent_1': 'ca%', 'param_1': 5}

In [41]:
q=func.unaccent('ledova%')
r=session.query(model.Ebook).outerjoin(model.Author, model.Ebook.authors).outerjoin(model.Series)\
.filter(or_(func.unaccent(model.Ebook.title).ilike(q),\
        func.unaccent(model.Author.last_name).ilike(q),\
        func.unaccent(model.Series.title).ilike(q)))\
.limit(5).all()
r

2016-04-21 12:28:09,250 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author ON author.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id LEFT OUTER JOIN series ON series.id = ebook.series_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) OR unaccent(author.last_name) ILIKE unaccent(%(unaccent_1)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s)
 LIMIT %(param_1)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_2 JOIN author AS author_1 ON author_1.id = ebook_authors_2.author_id) ON anon_1.ebook_id = ebook_authors_2.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,251 INFO sqlalchemy.engine.base.Engine {'unaccent_1': 'ledova%', 'param_1': 5}

[<Ebook id=34250 title="Ledová země">,
 <Ebook id=37396 title="Ledová sfinga">,
 <Ebook id=37795 title="Svatyně ledu">,
 <Ebook id=37796 title="Ledový národ">,
 <Ebook id=37797 title="Lovci ledových lidi">]

In [42]:
def build_search_expr(q):
    def create_and(field):
        return and_(*map(lambda v: func.unaccent(field).ilike(v),q))
    q=map(lambda x: x.strip(), q.split())
    q=list(map(lambda x: func.unaccent('%%%s%%'%x),q))
    return or_(create_and(model.Ebook.title), create_and(model.Series.title), 
               create_and(func.concat(model.Author.first_name, ' ',  model.Author.last_name)))

def build_search(session,q):
    return session.query(model.Ebook).outerjoin(model.Author, model.Ebook.authors)\
    .outerjoin(model.Series).filter(build_search_expr(q))
str(build_search_expr('aaa bbb'))

'lower(unaccent(ebook.title)) LIKE lower(unaccent(:unaccent_1)) AND lower(unaccent(ebook.title)) LIKE lower(unaccent(:unaccent_2)) OR lower(unaccent(series.title)) LIKE lower(unaccent(:unaccent_1)) AND lower(unaccent(series.title)) LIKE lower(unaccent(:unaccent_2)) OR lower(unaccent(concat(author.first_name, :param_1, author.last_name))) LIKE lower(unaccent(:unaccent_1)) AND lower(unaccent(concat(author.first_name, :param_1, author.last_name))) LIKE lower(unaccent(:unaccent_2))'

In [43]:
%timeit build_search(session,'karel capek')\
.limit(5).all()

2016-04-21 12:28:09,602 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author ON author.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id LEFT OUTER JOIN series ON series.id = ebook.series_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_2 JOIN author AS author_1 ON author_1.id = ebook_authors_2.author_id) ON anon_1.ebook_id = ebook_authors_2.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,603 INFO sqlalchemy.engine.base.Engine {'unaccent_1': '%karel%', 'param_2': 5, 'unaccent_2': '%capek%', 'param_1': ' '}
2016-04-21 12:28:09,685 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author ON author.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id LEFT OUTER JOIN series ON series.id = ebook.series_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_2 JOIN author AS author_1 ON author_1.id = ebook_authors_2.author_id) ON anon_1.ebook_id = ebook_authors_2.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,687 INFO sqlalchemy.engine.base.Engine {'unaccent_1': '%karel%', 'param_2': 5, 'unaccent_2': '%capek%', 'param_1': ' '}
2016-04-21 12:28:09,750 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author ON author.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id LEFT OUTER JOIN series ON series.id = ebook.series_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_2 JOIN author AS author_1 ON author_1.id = ebook_authors_2.author_id) ON anon_1.ebook_id = ebook_authors_2.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,751 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:09,826 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author ON author.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id LEFT OUTER JOIN series ON series.id = ebook.series_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_2 JOIN author AS author_1 ON author_1.id = ebook_authors_2.author_id) ON anon_1.ebook_id = ebook_authors_2.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,828 INFO sqlalchemy.engine.base.Engine {'unaccent_1': '%karel%', 'param_2': 5, 'unaccent_2': '%capek%', 'param_1': ' '}
2016-04-21 12:28:09,900 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author ON author.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id LEFT OUTER JOIN series ON series.id = ebook.series_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_2 JOIN author AS author_1 ON author_1.id = ebook_authors_2.author_id) ON anon_1.ebook_id = ebook_authors_2.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,901 INFO sqlalchemy.engine.base.Engine {'unaccent_1': '%karel%', 'param_2': 5, 'unaccent_2': '%capek%', 'param_1': ' '}
2016-04-21 12:28:09,986 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author ON author.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id LEFT OUTER JOIN series ON series.id = ebook.series_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s) AS anon_1 JOIN language AS language_1 ON language_1.id = anon_1.ebook_language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = anon_1.ebook_series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_2 JOIN author AS author_1 ON author_1.id = ebook_authors_2.author_id) ON anon_1.ebook_id = ebook_authors_2.ebook_id ORDER BY author_1.id
2016-04-21 12:28:09,987 INFO sqlalchemy.engine.base.Engine {'unaccent_1': '%karel%', 'param_2': 5, 'unaccent_2': '%capek%', 'param_1': ' '}
2016-04-21 12:28:10,058 INFO sqlalchemy.engine.base.Engine SELECT anon_1.ebook_id AS anon_1_ebook_id, anon_1.ebook_created AS anon_1_ebook_created, anon_1.ebook_modified AS anon_1_ebook_modified, anon_1.ebook_title AS anon_1_ebook_title, anon_1.ebook_description AS anon_1_ebook_description, anon_1.ebook_language_id AS anon_1_ebook_language_id, anon_1.ebook_series_id AS anon_1_ebook_series_id, anon_1.ebook_series_index AS anon_1_ebook_series_index, anon_1.ebook_rating AS anon_1_ebook_rating, anon_1.ebook_cover AS anon_1_ebook_cover, anon_1.ebook_created_by_id AS anon_1_ebook_created_by_id, anon_1.ebook_modified_by_id AS anon_1_ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM (SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id

In [44]:
print(or_(and_(model.Ebook.title.like('%aaa%'), model.Ebook.title.like('%bbb%')), and_(model.Series.title.like('%aaa%'), model.Series.title.like('%bbb%'))))

ebook.title LIKE :title_1 AND ebook.title LIKE :title_2 OR series.title LIKE :title_3 AND series.title LIKE :title_4

In [45]:
import pymongo
c=pymongo.MongoClient()

def mongo_build_search(q):
    def create_and(field):
        return {'$and': list(map(lambda x: {field:{'$regex':x,'$options': 'i'}},q))}
    def create_and2(field, field2):
        return {'$and': list(map(lambda x: {'$or':[{field:{'$regex':x,'$options': 'i'}}, {field2:{'$regex':x,'$options': 'i'}}]},q))}
    q=list(map(lambda x: x.strip(), q.split()))
    return {'$or':[create_and('title'), create_and('series'), create_and2('authors.lastname', 'authors.firstname')]}

mongo_build_search('douglas adams')

{'$or': [{'$and': [{'title': {'$options': 'i', '$regex': 'douglas'}},
    {'title': {'$options': 'i', '$regex': 'adams'}}]},
  {'$and': [{'series': {'$options': 'i', '$regex': 'douglas'}},
    {'series': {'$options': 'i', '$regex': 'adams'}}]},
  {'$and': [{'$or': [{'authors.lastname': {'$options': 'i',
        '$regex': 'douglas'}},
      {'authors.firstname': {'$options': 'i', '$regex': 'douglas'}}]},
    {'$or': [{'authors.lastname': {'$options': 'i', '$regex': 'adams'}},
      {'authors.firstname': {'$options': 'i', '$regex': 'adams'}}]}]}]}

In [46]:

%timeit list(c.ebooks.ebooks.find(mongo_build_search('karel čapek'))[:5])

100 loops, best of 3: 3.44 ms per loop

In [47]:
ebook=model.Ebook.__table__
author=model.Author.__table__
series=model.Series.__table__
from model import ebook_authors

from sqlalchemy import select

q=select([ebook]).select_from(ebook.outerjoin(series).outerjoin(ebook_authors).join(author)).where(build_search_expr('karel capek'))
print(q)

SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE lower(unaccent(ebook.title)) LIKE lower(unaccent(:unaccent_1)) AND lower(unaccent(ebook.title)) LIKE lower(unaccent(:unaccent_2)) OR lower(unaccent(series.title)) LIKE lower(unaccent(:unaccent_1)) AND lower(unaccent(series.title)) LIKE lower(unaccent(:unaccent_2)) OR lower(unaccent(concat(author.first_name, :param_1, author.last_name))) LIKE lower(unaccent(:unaccent_1)) AND lower(unaccent(concat(author.first_name, :param_1, author.last_name))) LIKE lower(unaccent(:unaccent_2))

In [48]:
%timeit list(engine.execute(q.limit(5)))

2016-04-21 12:28:14,802 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,803 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,824 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,825 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,836 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,837 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,849 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,850 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,862 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,863 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,875 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,876 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,890 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,891 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,903 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,904 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,915 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,915 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,929 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,930 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,946 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,947 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,962 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,963 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:14,983 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:14,984 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:15,001 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:15,002 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:15,020 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:15,021 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:15,041 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:15,042 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:15,060 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:15,061 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:15,079 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s
2016-04-21 12:28:15,080 INFO sqlalchemy.engine.base.Engine {'unaccent_2': '%capek%', 'param_2': 5, 'unaccent_1': '%karel%', 'param_1': ' '}
2016-04-21 12:28:15,098 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook LEFT OUTER JOIN series ON series.id = ebook.series_id LEFT OUTER JOIN ebook_authors ON ebook.id = ebook_authors.ebook_id JOIN author ON author.id = ebook_authors.author_id
WHERE unaccent(ebook.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(ebook.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(series.title) ILIKE unaccent(%(unaccent_1)s) AND unaccent(series.title) ILIKE unaccent(%(unaccent_2)s) OR unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_1)s) AND unaccent(concat(author.first_name, %(param_1)s, author.last_name)) ILIKE unaccent(%(unaccent_2)s)
 LIMIT %(param_2)s

In [50]:
from sqlalchemy.schema import CreateTable

str(CreateTable(ebook).compile(bind=engine))

'\nCREATE TABLE ebook (\n\tid BIGSERIAL NOT NULL, \n\tcreated TIMESTAMP WITHOUT TIME ZONE NOT NULL, \n\tmodified TIMESTAMP WITHOUT TIME ZONE NOT NULL, \n\ttitle VARCHAR(256) NOT NULL, \n\tdescription TEXT, \n\tlanguage_id BIGINT NOT NULL, \n\tseries_id BIGINT, \n\tseries_index INTEGER, \n\trating FLOAT, \n\tcover VARCHAR(512), \n\tfull_text TSVECTOR, \n\tcreated_by_id BIGINT, \n\tmodified_by_id BIGINT, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(language_id) REFERENCES language (id), \n\tFOREIGN KEY(series_id) REFERENCES series (id), \n\tFOREIGN KEY(created_by_id) REFERENCES "user" (id), \n\tFOREIGN KEY(modified_by_id) REFERENCES "user" (id)\n)\n\n'

In [51]:
%%timeit

from sqlalchemy.sql import text,desc
session.rollback()
search="capek & karel"
session.query(model.Ebook).filter(model.Ebook.full_text.match(search))\
.order_by(desc(func.ts_rank_cd(model.Ebook.full_text, func.to_tsquery(text("'custom'"), search))))\
.all()

2016-04-21 12:37:27,347 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,357 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,361 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,362 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,375 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,384 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,388 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,389 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,401 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,409 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,412 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,413 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,424 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,431 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,435 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,436 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,445 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,455 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,459 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,460 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,470 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,478 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,481 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,483 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,490 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,501 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,502 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,510 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,518 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,522 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,524 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,533 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,541 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,545 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,547 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,557 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,565 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-21 12:37:27,569 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.full_text @@ to_tsquery('custom', %(full_text_1)s) ORDER BY ts_rank_cd(ebook.full_text, to_tsquery('custom', %(to_tsquery_1)s)) DESC, author_1.id
2016-04-21 12:37:27,570 INFO sqlalchemy.engine.base.Engine {'to_tsquery_1': 'capek & karel', 'full_text_1': 'capek & karel'}
2016-04-21 12:37:27,579 INFO sqlalchemy.engine.base.Engine ROLLBACK
2016-04-21 12:37:27,588 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

In [ ]:
c2 =session.query(model.Ebook).outerjoin(model.Author, model.Ebook.authors).filter(model.Author.last_name=='Čapek').all()

In [ ]:
print ([b.full_text for b in c1 if b not in c2])
len(c1), len(c2)

In [61]:
search='capek & karel'
q=select([ebook]).where(text("full_text @@ to_tsquery('custom', '%s')"%search)).order_by(text("ts_rank_cd(full_text, to_tsquery('custom', '%s')) desc"%search))
print(q)
session.rollback()

SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc

In [65]:
% timeit list(engine.execute(q))

2016-04-21 15:05:23,909 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:23,910 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:23,931 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:23,932 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:23,951 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:23,952 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:23,970 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:23,972 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:23,984 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:23,985 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,003 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,004 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,023 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,025 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,043 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,045 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,063 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,064 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,076 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,077 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,095 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,097 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,110 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,111 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,129 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,130 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,145 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,146 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,164 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,166 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,181 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,182 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,195 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,196 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,208 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,209 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,221 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,222 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,235 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,236 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,249 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,250 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,266 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,268 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,286 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,288 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,300 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,301 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,314 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,315 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,327 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,328 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,341 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,342 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,361 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,362 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,382 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,383 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,402 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,403 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,422 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,423 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,443 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,445 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,465 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,467 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,486 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,489 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,510 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,511 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,530 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,531 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,550 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,551 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,570 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,571 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,589 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,592 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,611 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,612 INFO sqlalchemy.engine.base.Engine {}
2016-04-21 15:05:24,630 INFO sqlalchemy.engine.base.Engine SELECT ebook.id, ebook.created, ebook.modified, ebook.title, ebook.description, ebook.language_id, ebook.series_id, ebook.series_index, ebook.rating, ebook.cover, ebook.full_text, ebook.created_by_id, ebook.modified_by_id
FROM ebook
WHERE full_text @@ to_tsquery('custom', 'capek & karel') ORDER BY ts_rank_cd(full_text, to_tsquery('custom', 'capek & karel')) desc
2016-04-21 15:05:24,631 INFO sqlalchemy.engine.base.Engine {}

In [83]:

q=open('../data/test-ebooks.json', 'rt', encoding='utf-8-sig').read()
q[0]

'['

In [78]:
%pwd

'/home/ivan/workspace/mybookshelf2/tests'