In [1]:
from sqlalchemy import create_engine
import sys
sys.path.append('..')
import model

In [2]:
from sqlalchemy.orm import sessionmaker
engine=create_engine('postgresql://ebooks_test:ebooks@localhost/ebooks_test', echo=True)
Session=sessionmaker(bind=engine)

In [3]:
session=Session()

In [4]:
b=session.query(model.Ebook).filter_by(title='Other title').one()
print(b)

2016-04-24 10:07:37,384 INFO sqlalchemy.engine.base.Engine select version()
2016-04-24 10:07:37,386 INFO sqlalchemy.engine.base.Engine {}
2016-04-24 10:07:37,388 INFO sqlalchemy.engine.base.Engine select current_schema()
2016-04-24 10:07:37,390 INFO sqlalchemy.engine.base.Engine {}
2016-04-24 10:07:37,392 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2016-04-24 10:07:37,394 INFO sqlalchemy.engine.base.Engine {}
2016-04-24 10:07:37,398 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2016-04-24 10:07:37,399 INFO sqlalchemy.engine.base.Engine {}
2016-04-24 10:07:37,401 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2016-04-24 10:07:37,402 INFO sqlalchemy.engine.base.Engine {}
2016-04-24 10:07:37,404 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-24 10:07:37,409 INFO sqlalchemy.engine.base.Engine SELECT ebook.id AS ebook_id, ebook.version_id AS ebook_version_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id, language_1.id AS language_1_id, language_1.version_id AS language_1_version_id, language_1.code AS language_1_code, language_1.name AS language_1_name, series_1.id AS series_1_id, series_1.version_id AS series_1_version_id, series_1.created AS series_1_created, series_1.modified AS series_1_modified, series_1.title AS series_1_title, series_1.rating AS series_1_rating, series_1.description AS series_1_description, series_1.created_by_id AS series_1_created_by_id, series_1.modified_by_id AS series_1_modified_by_id, author_1.id AS author_1_id, author_1.version_id AS author_1_version_id, author_1.created AS author_1_created, author_1.modified AS author_1_modified, author_1.last_name AS author_1_last_name, author_1.first_name AS author_1_first_name, author_1.description AS author_1_description, author_1.created_by_id AS author_1_created_by_id, author_1.modified_by_id AS author_1_modified_by_id
FROM ebook JOIN language AS language_1 ON language_1.id = ebook.language_id LEFT OUTER JOIN series AS series_1 ON series_1.id = ebook.series_id LEFT OUTER JOIN (ebook_authors AS ebook_authors_1 JOIN author AS author_1 ON author_1.id = ebook_authors_1.author_id) ON ebook.id = ebook_authors_1.ebook_id
WHERE ebook.title = %(title_1)s ORDER BY author_1.id
2016-04-24 10:07:37,410 INFO sqlalchemy.engine.base.Engine {'title_1': 'Other title'}
<Ebook id=67930 title="Other title">

In [5]:
b.title='Title'
session.commit()

2016-04-24 10:08:33,792 INFO sqlalchemy.engine.base.Engine UPDATE ebook SET version_id=%(version_id)s, modified=now(), title=%(title)s WHERE ebook.id = %(ebook_id)s AND ebook.version_id = %(ebook_version_id)s
2016-04-24 10:08:33,794 INFO sqlalchemy.engine.base.Engine {'ebook_id': 67930, 'ebook_version_id': 2, 'title': 'Title', 'version_id': 3}
2016-04-24 10:08:33,801 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
session.expire(b)
print(b.title)
print(b.full_text)

2016-04-24 10:12:37,500 INFO sqlalchemy.engine.base.Engine SELECT ebook.full_text AS ebook_full_text, ebook.id AS ebook_id, ebook.version_id AS ebook_version_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook
WHERE ebook.id = %(param_1)s
2016-04-24 10:12:37,501 INFO sqlalchemy.engine.base.Engine {'param_1': 67930}
Title
None

In [8]:
b.title='Other Title'
session.commit()
session.expire(b)
print(b.title)
print(b.full_text)

2016-04-24 10:13:08,005 INFO sqlalchemy.engine.base.Engine UPDATE ebook SET version_id=%(version_id)s, modified=now(), title=%(title)s WHERE ebook.id = %(ebook_id)s AND ebook.version_id = %(ebook_version_id)s
2016-04-24 10:13:08,007 INFO sqlalchemy.engine.base.Engine {'ebook_id': 67930, 'ebook_version_id': 3, 'title': 'Other Title', 'version_id': 4}
2016-04-24 10:13:08,011 INFO sqlalchemy.engine.base.Engine COMMIT
2016-04-24 10:13:08,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-04-24 10:13:08,066 INFO sqlalchemy.engine.base.Engine SELECT ebook.full_text AS ebook_full_text, ebook.id AS ebook_id, ebook.version_id AS ebook_version_id, ebook.created AS ebook_created, ebook.modified AS ebook_modified, ebook.title AS ebook_title, ebook.description AS ebook_description, ebook.language_id AS ebook_language_id, ebook.series_id AS ebook_series_id, ebook.series_index AS ebook_series_index, ebook.rating AS ebook_rating, ebook.cover AS ebook_cover, ebook.created_by_id AS ebook_created_by_id, ebook.modified_by_id AS ebook_modified_by_id
FROM ebook
WHERE ebook.id = %(param_1)s
2016-04-24 10:13:08,067 INFO sqlalchemy.engine.base.Engine {'param_1': 67930}
Other Title
None

In [9]:
session.rollback()

2016-04-24 10:28:03,229 INFO sqlalchemy.engine.base.Engine ROLLBACK